<div>
  <h3>기본</h3>
  <app-my-icon shape="close"></app-my-icon>
  <app-my-icon shape="search"></app-my-icon>
</div>

<div>
  <h3>사이즈 변경</h3>
  <app-my-icon shape="close" width="48" height="48"></app-my-icon>
  <app-my-icon shape="search" width="48" height="48"></app-my-icon>
  <br>
  <app-my-icon shape="close" width="72" height="72"></app-my-icon>
  <app-my-icon shape="search" width="72" height="72"></app-my-icon>
</div>

<div>
  <h3>색상 변경 빨강 노랑 파랑 초록</h3>
  <app-my-icon shape="close" color="red"></app-my-icon>
  <app-my-icon shape="search" color="yellow"></app-my-icon>
  <app-my-icon shape="close" color="blue"></app-my-icon>
  <app-my-icon shape="search" color="green"></app-my-icon>
</div>

<div>
  <h3>색상 변경 HEX 코드</h3>
  <app-my-icon shape="close" color="#1672F7"></app-my-icon>
  <app-my-icon shape="search" color="#00B6ED"></app-my-icon>
  <app-my-icon shape="close" color="#37D2C9"></app-my-icon>
  <app-my-icon shape="search" color="#F1FE24"></app-my-icon>
</div>


<router-outlet></router-outlet>
